
.center {
    text-align: center;
    margin-bottom: 25px;
}
.heading {
    background-color: rgba(208, 208, 208);
    width: 35%;
}

h1, p {
    text-align: center;
}

.dropdowns {
    width: 4%;
}

#exampleFormControlSelect1 {
    margin-left: 139px;
}

#exampleFormControlSelect2 {
    margin-left: 34px;
}

#exampleFormControlSelect3 {
    margin-left: 35px;
}


@media only screen 
  /* and (max-width: 667px) */
  and (max-width: 937px) { 
    .heading {
        width: initial;
    }
    .dropdowns {
        width: 16%;
    }
}