
.card1 {
    width: 10rem;
    position: relative;
    left: 25px;
    top: 10px;
}

.card2 {
    width: 10rem;
    position: relative;
    top: 10px;
}

.round {
    margin-left: 25px;
    margin-top: 55px;
    text-align: center;
    margin-bottom: 10px;
}

