
.card3 {
    position: relative;
    left: 179px;
    bottom: 10px;

}

.card4 {
    width: 15rem;
    height: 9rem;
}

.round {
    /* margin-left: 25px; */
    margin-top: 55px;
    /* text-align: center; */
    margin-bottom: 10px;
}

#startbtn {
    margin-right: 10px;
}
#pausebtn {
    margin-left: 10px;
} 