.card1 {
    width: 10rem;
    position: relative;
    left: 25px;
    top: 15px;
}

.card2 {
    width: 10rem;
    position: relative;
    top: 15px;
}

.round {
    margin-left: 25px;
    margin-top: 50px;
    /* align-content: center; */
}